<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/..\FrameXML\UI.xsd">
	<!-- Config -->
	<Script file="Config.lua"/>

	<!-- Config Subject -->
	<Script file="ConfigSubject.lua"/>

	<!-- Config Data Type -->
	<Script file="ConfigType.lua"/>

	<!-- Config Layout Manager -->
	<Script file="ConfigLayoutManager.lua"/>

	<!-- Config UI -->
	<Script file="ConfigUI.lua"/>

	<!-- Config Node -->
	<Script file="ConfigNode.lua"/>
</Ui>